<!--FOOTER-->
<footer class="footer">
  <div class="container-fluid" style="max-width: 1300px;">
    <div class="row" id="footer-row">
      <div class="footer col-md-2">
        <h5>Kucluck</h5>
        <hr>
        <ul>
          <li><a href="/dashboard" title="Quickstart">Quickstart</a></li>
          <li><a href="/commands" title="Commands">Commands</a></li>
          <li><a href="/premium" title="Premium">Premium</a></li>
        </ul>
      </div>
      <div class="footer col-md-2">
        <h5>Support</h5>
        <hr>
        <ul>
          <li><a href="https://discord.com/api/oauth2/authorize?client_id=<%= bot.user.id%>&permissions=8&redirect_uri=<%= callback%>&response_type=code&scope=identify%20email%20guilds%20bot%20applications.commands" target="_blank" rel="nofollow" title="Add to Server">Invite Kucluck</a></li>
          <li><a href="https://discord.gg/BuACxn4XUw" target="_blank" rel="nofollow" title="Discord Channel">Discord channel</a></li>
        </ul>
      </div>
      <div class="footer col-md-2">
        <h5>Legal</h5>
        <hr>
        <ul>
          <li><a href="#" title="Disclaimer">Disclaimer</a></li>
          <li><a href="#" title="Terms of Service">Terms of Service</a></li>
          <li><a href="#" title="Privacy Policy">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="footer col-md-4">
        <h5>Kucluck Bot</h5>
        <hr>
        <p>A free and quality all-in-one Discord bot for your Discord server.</p>
        <a href="mailto:admin@kucluck.com" class="mailto" target="_blank" rel="nofollow"><i class="fas fa-envelope-open-text"></i> admin@kucluck.com</a>
        <p><i class="far fa-copyright"></i> Kucluck Bot 2022 - All rights reserved.<br><i class="fas fa-edit"></i> Web Designed by <a href="https://web.facebook.com/lukman.now" target="_blank" rel="nofollow" style="color: #c5c5c5">Lukman Novawiyadi</a></p>
      </div>
    </div>
  </div>
</footer>