* {
  color: #eee;
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
section {
  margin-top: 1rem;
  margin-bottom: 5rem;
}
hr {
  margin: auto;
  width: 30%;
  border-radius: 10px;
  border: 2px solid #e668ff;
}
.btn-dash-upgrade {
  padding: 5px;
  background-color: #ec8cff;
  text-decoration: none;
  color: #eee;
}
.btn-dash-edit {
  padding: 5px;
  background-color: #f45353;
  text-decoration: none;
  color: #eee;
}
.btn-dash-invite {
  padding: 5px;
  background-color: #8b53f4;
  text-decoration: none;
  color: #eee;
}
.img {
  max-width: 80px;
}
@media screen and (max-width: 967px) {
}
