.footer {
  padding: 10px;
  margin: auto;
  margin-top: 0;
}
.footer hr {
  height: 3px;
  border-radius: 5px;
  width: 30%;
  margin-top: 0;
  margin-left: 0;
  background-color: #ff77ed;
}
.footer a {
  text-decoration: none;
  font-size: 14px;
  color: #c5c5c5;
}
.footer p {
  text-decoration: none;
  font-size: 14px;
}
.footer p i {
  font-size: 14px;
}
.footer ul li {
  list-style-type: none;
}
.footer ul li a {
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 14px;
}
.footer ul li a:hover {
  padding-left: 8px;
  color: #ff77ed !important;
}
@media screen and (max-width: 967px) {
  .footer {
    width: auto;
  }
  .footer hr {
    width: auto;
  }
  #legal {
    display: none;
  }
  .footer.col-md hr {
    display: none;
  }
  .footer.col-md {
    text-align: center;
  }
}
