.img-guild-icon {
  margin: auto;
  padding: 10px;
  width: 100%;
}

section {
  display: flex;
}
.popover {
  background-color: transparent;
  font-size: 16px !important;
  font-weight: 500;
}
.popover-body {
  color: #eee;
  background-color: #35383f;
  border-start-start-radius: 5px;
  border-start-end-radius: 5px;
  border-end-start-radius: 5px;
  border-end-end-radius: 5px;
}
.bs-popover-auto[data-popper-placement^="right"] > .popover-arrow::after,
.bs-popover-end > .popover-arrow::after {
  border-right-color: #35383f;
}
.bs-popover-auto[data-popper-placement^="top"] > .popover-arrow::after,
.bs-popover-top > .popover-arrow::after {
  border-top-color: #35383f !important;
  box-shadow: none;
}
.navbar-toggler-icon-settings {
  color: #eee;
  transition: 0.2s;
  width: 100%;
}

.navbar-toggler-icon-settings::after {
  content: "Show Menu";
  padding-left: 5px;
}

.nav-link-settings {
  transition: 0.2s ease-in-out;
}

.nav-link-settings:hover {
  transform: translateX(5%);
  color: #9b4890 !important;
}

side.navbar #sidebar-settings {
  display: block !important;
}
side {
  background-color: #24262b;
  padding: 0 !important;
}
#side-bar-container {
  margin: auto;
  margin-top: 0;
}
nav.navbar.header {
  background-color: #24262b;
}
.card-queue {
  background-color: #2d3036;
  border-radius: 5px;
}
#queue {
  height: 450px;
}
body {
  background-image: none !important;
}
.img-border-start {
  padding: 5px;
  border-radius: 15px;
  border: 3px solid rgba(255, 255, 255, 0.459);
}
.img-border-end {
  padding: 5px;
  border-radius: 10px;
  border: 3px solid #828cffa1;
}
@media screen and (max-width: 967px) {
  section {
    display: block;
  }
  side.navbar.navbar-expand-md {
    margin: auto;
    max-width: 100% !important;
    margin: 10px 0px;
  }
  img.rounded.mx-auto.d-block {
    width: 100%;
  }
  #side-bar-container {
    display: none !important;
  }
  #global {
    display: none !important;
  }
  main.container {
    margin: auto !important;
    margin-bottom: 50px !important;
  }
  #button-start {
    display: none !important;
  }
  #button-end {
    display: none !important;
  }
  img.rounded-3.shadow-sm {
    width: 100%;
  }
  .d-flex.m-auto.bd-highlight.mx-auto {
    margin: 10px !important;
  }
  .d-flex.justify-content-evenly.mt-auto.mx-auto.p-2.bd-highlight {
    display: flex !important;
    flex-wrap: wrap;
    margin-top: 10px !important;
  }
  #now-playing {
    height: 450px !important;
  }
  .card-queue {
    height: fit-content !important;
  }
  .fixed-bottom {
    position: relative !important;
  }
}
