<p><a
    href="https://discord.com/api/oauth2/authorize?client_id=<%= bot.user.id%>&permissions=8&redirect_uri=<%= callback%>&response_type=code&scope=identify%20email%20guilds%20bot%20applications.commands"
    target="popup" onclick="openInvite()" class="text-decoration-none text-white"><%= bot.user.username%></a> <span
    class="bg-primary text-white bot-text"><i class="fas fa-check"></i>
    BOT</span><span class="text-muted" style="font-size: 12px; padding-left: 5px;">
    23/01/2022</span>
</p>